<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Rules</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<!--Title-->
<h1 class="flex items-center font-sans font-bold break-normal text-indigo-500 px-2 py-8 text-xl md:text-2xl">
    Security Rules
</h1>
<h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-dark">Geologists in the laboratory often work with rock, soil, mineral and fluid samples, as well as potentially hazardous chemicals. Therefore, it is important for them to follow strict safety rules to prevent accidents. Here are some of the most important safety rules for geologists in the laboratory:</h2>
<ol class=" space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-800">
    <li><span class="font-semibold text-gray-900 dark:text-black">Use of personal protective equipment: </span> Geologists and miners must wear personal protective equipment such as helmets, gloves, safety boots, protective eyewear, and respiratory masks to protect themselves against physical hazards and harmful substances.</li>
    <li><span class="font-semibold text-gray-900 dark:text-black">Safety training and awareness:</span>Geologists and miners must receive regular training on safety rules and emergency procedures, as well as safety awareness to prepare for potential hazards.</li>
    <li><span class="font-semibold text-gray-900 dark:text-black">Regular inspections of equipment and facilities: </span> Geologists and miners must ensure that equipment and facilities are regularly inspected to detect defects and malfunctions that could cause accidents.</li>
    <li><span class="font-semibold text-gray-900 dark:text-black">Proper use of tools and equipment: </span>Geologists and miners must use tools and equipment correctly to avoid accidents. They must also ensure that equipment is used in the conditions for which it was designed.</li>
    <li><span class="font-semibold text-gray-900 dark:text-black">Communication and collaboration:  </span> Geologists and miners must communicate regularly and work closely together to ensure the safety of all team members. They must report potential hazards and work together to find solutions to reduce risks.</li>
    <li><span class="font-semibold text-gray-900 dark:text-black">Respect for emergency procedures: </span> Geologists and miners must know emergency procedures in case of an accident and follow them strictly to minimize injuries and damage.</li>
</ol>
<h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-dark">It is essential to follow these safety rules to minimize the risks of accidents on mining sites and geological sites.</h2>

</body>
</html>
